@charset "UTF-8";

/*
	Theme Name: Eventstation Child Theme
	Theme URI: http://themeforest.net/user/gloriatheme
	Description:  Eventstation Child Theme
	Author: Gloria Theme
	Author URI: http://gloriatheme.com/
	Template: eventstation
	License: GNU General Public License v2 or later
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	Text Domain: eventstation-child
	Version: 1.0
*/

/*
Light blue: #15BBEF
Purple: #58237F
*/

@import url("../eventstation/style.css");

.counter-box .left {
  margin-left: 57px;
  margin-right: 10px;
}

.counter-box-general-content {
  background-image: url('./assets/img/bg-black-80.png');
  padding: 2rem 0;
  border-radius: 1rem;
}

.time_circles {
  margin-left: 2rem;
}

.counter-box-general-content-date-right-top,
.counter-box-general-content-date-right-right,
.counter-box-general-content-date-right-bottom,
.counter-box-general-content-date-left-left,
.counter-box-general-content-date-left-top,
.counter-box-general-content-date-left-bottom {
  width: 0px !important;
}

.owl-carousel .owl-item {
  max-width: 300px;
}


/*
.content-widget-title h3 {
	color:#58237F;
}

.blog-posts-widget ul li h2 a:hover,
.blog-posts-widget ul li h2 a:focus {
	color:#58237F;
}

.blog-posts-widget ul li a.more:hover,
.blog-posts-widget ul li a.more:focus {
	color: #58237F;
}

a:hover, a:focus {
	color:#15BBEF;
}

button,
input[type="submit"],
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	color: #FFFFFF;
	border:1px solid #15BBEF;
	background: #15BBEF;
}


button:hover, input[type="submit"]:hover,
button:active, input[type="submit"]:active,
button:active:hover, input[type="submit"]:active:hover,
button:active:focus, input[type="submit"]:active:focus,
button:active:visited, input[type="submit"]:active:visited,
button:focus, input[type="submit"]:focus,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
  	color: #15BBEF;
  	border:1px solid #15BBEF;
}


button.alternative-button:hover, input[type="submit"].alternative-button:hover,
button.alternative-button:focus, input[type="submit"].alternative-button:focus,
button.alternative-button:active, input[type="submit"].alternative-button:active,
button.alternative-button:active:hover, input[type="submit"].alternative-button:active:hover,
button.alternative-button:active:focus, input[type="submit"].alternative-button:active:focus,
button.alternative-button:active:visited, input[type="submit"].alternative-button:active:visited {
  border-color: #15BBEF;
	color:#FFFFFF;
	background:#15BBEF;
}

.eventstation-pagination>li>a, .eventstation-pagination>li>a:visited {
  	background: #15BBEF;
}

.eventstation-pagination>li>a:hover, .eventstation-pagination>li>a:focus {
	border-color: #15BBEF;
	color: #15BBEF;
	background: #FFFFFF;
}

.edit-link a, .edit-link a:visited {
	background: #15BBEF;
}

.edit-link a:focus,  .edit-link a:hover {
	border-color: #15BBEF;
	color:#15BBEF;
}

.content-heading {
	background:#15BBEF;
}

.content-heading .heading-navigation i {
	color: #15BBEF;
}

.content-widget-title i {
	background: #15BBEF;
}

.content-widget-title.small i {
	color: #15BBEF;
}

.social-media-widget.social-media-white ul li a:hover,
.social-media-widget.social-media-white ul li a:focus {
	color:#15BBEF;
}

.map-3d-tour .map-3d-tour-content .map-3d-tour-icon {
	background: #15BBEF;
}

.map-3d-tour .map-3d-tour-content .map-3d-tour-button span {
	background: #15BBEF;
}

.map-3d-tour .map-3d-tour-content .map-3d-tour-button i {
	background: #15BBEF;
}

.map-3d-tour .map-3d-tour-iframe .close {
	color: #15BBEF;
}

.map-3d-tour .map-3d-tour-iframe .close:hover,
.map-3d-tour .map-3d-tour-iframe .close:focus {
	background: #15BBEF;
}

.map-3d-tour .map-3d-tour-iframe .map-3d-tour-music-button i {
	color: #15BBEF;
}

.map-3d-tour .map-3d-tour-iframe .map-3d-tour-music-button i:hover,
.map-3d-tour .map-3d-tour-iframe .map-3d-tour-music-button i:focus {
	background: #15BBEF;
}

.pricing-table.pricing-table-modern .pricing-table-header .pricing-table-header-left:before {
	background: #15BBEF;
}

.pricing-table.pricing-table-modern .pricing-table-bottom .pricing-table-button a span {
	background: #15BBEF;
}

.pricing-table.pricing-table-modern .pricing-table-bottom .pricing-table-button a i {
	background: #15BBEF;
}

.pricing-table.pricing-table-classic .pricing-table-header-wrapper .pricing-table-header {
	color: #15BBEF;
}

.pricing-table.pricing-table-classic .pricing-table-header-wrapper .pricing-table-header .separator {
	border-right: 2px dotted #15BBEF;
}

.pricing-table.pricing-table-classic .pricing-table-bottom .pricing-table-button a:hover,
.pricing-table.pricing-table-classic .pricing-table-bottom .pricing-table-button a:focus {
	color:#15BBEF;
}

.pricing-table.pricing-table-classic .pricing-table-bottom .pricing-table-button a:hover .separator ,
.pricing-table.pricing-table-classic .pricing-table-bottom .pricing-table-button a:focus .separator  {
	border-color:#15BBEF;
}

.speakers-widget .speaker-item-body .speaker-item-social-links li a:hover,
.speakers-widget .speaker-item-body .speaker-item-social-links li a:focus {
	background:#FFFFFF;
}

.service-box.service-box-icon-style h2 {
	color:#15BBEF;
}

.info-box.info-box-default-style .info-box-default-style-image .info-box-icon i {
	background:#15BBEF;
}

.info-box.info-box-default-style .info-box-default-style-hover-content-wrapper {
	background: #15BBEF;
}

.info-box.info-box-default-style .info-box-default-style-hover-content-wrapper .info-box-default-style-hover-content i {
	color: #15BBEF;
}

.info-box.info-box-default-style .info-box-default-style-hover-content-wrapper .info-box-default-style-hover-content .info-box-close-icon {
	color: #15BBEF;
}


.info-box.info-box-alternative-style .info-box-alternative-style-image .info-box-icon i {
	background:#15BBEF;
}

.info-box.info-box-alternative-style .info-box-alternative-style-content .readmore {
	color:#15BBEF;
}

.info-box.info-box-alternative-style .info-box-alternative-style-hover-content-wrapper {
	background: #15BBEF;
}

.info-box.info-box-alternative-style .info-box-alternative-style-hover-content-wrapper .info-box-alternative-style-hover-content i {
	color: #15BBEF;
}

.info-box.info-box-alternative-style .info-box-alternative-style-hover-content-wrapper .info-box-alternative-style-hover-content .info-box-close-icon {
	color: #15BBEF;
}

.event-box .event-box-image .event-box-image-wrapper .event-box-image-content-wrapper .event-box-image-content .event-box-button a:hover,
.event-box .event-box-image .event-box-image-wrapper .event-box-image-content-wrapper .event-box-image-content .event-box-button a:focus {
	color:#15BBEF;
}

.event-box .event-box-image .event-box-image-wrapper .event-box-image-content-wrapper .event-box-image-content .event-box-button a span {
	background:#15BBEF;
}

.event-box .event-box-image .event-box-image-wrapper .event-box-image-content-wrapper .event-box-image-content .event-box-button a i {
	background:#15BBEF;
}

.counter-box .counter-box-general-wrapper .counter-box-general-content-wrapper .counter-box-general-content .counter-box-button a:hover i,
.counter-box .counter-box-general-wrapper .counter-box-general-content-wrapper .counter-box-general-content .counter-box-button a:focus i {
	border-left-color:#15BBEF;
	color:#15BBEF;
}

.counter-box .counter-box-general-wrapper .counter-box-general-content-wrapper .counter-box-general-content .counter-box-button a:hover span,
.counter-box .counter-box-general-wrapper .counter-box-general-content-wrapper .counter-box-general-content .counter-box-button a:focus span {
	color:#15BBEF;
	border-left-color:#15BBEF;
}

.counter-box .counter-box-general-wrapper .counter-box-general-content-wrapper .counter-box-general-content .counter-box-button a span {
	background: #15BBEF;
}

.counter-box .counter-box-general-wrapper .counter-box-general-content-wrapper .counter-box-general-content .counter-box-button a i {
	background: #15BBEF;
}

.blog-posts-widget ul li h2 a,
.blog-posts-widget ul li h2 a:visited {
	color: #15BBEF;
}

.blog-posts-widget ul li h2:after {
  background: #15BBEF;
}

.blog-posts-widget ul li a.more,
.blog-posts-widget ul li a.more:visited {
	color: #15BBEF;
}

.schedule-widget .nav-tabs li.active a,
.schedule-widget .nav-tabs li.active a:visited,
.schedule-widget .nav-tabs li a:hover,
.schedule-widget .nav-tabs li a:focus {
	background:#15BBEF;
}

.schedule-widget .nav-tabs li.active a:after,
.schedule-widget .nav-tabs li.active a:visited:after,
.schedule-widget .nav-tabs li a:hover:after,
.schedule-widget .nav-tabs li a:focus:after {
	background:#15BBEF;
}

.schedule-widget.style3 .nav-tabs li.active a h3,
.schedule-widget.style3 .nav-tabs li.active a:visited h3,
.schedule-widget.style3 .nav-tabs li a:hover h3,
.schedule-widget.style3 .nav-tabs li a:focus h3 {
	color: #15BBEF
}

.schedule-widget.style3 .nav-tabs li.active a span,
.schedule-widget.style3 .nav-tabs li.active a:visited span,
.schedule-widget.style3 .nav-tabs li a:hover span,
.schedule-widget.style3 .nav-tabs li a:focus span {
	color: #15BBEF
}

.schedule-widget.style3 .tab-content .tab-content-schedule-list li .hour {
	color: #15BBEF;
	border-color: #15BBEF;
}

.schedule-widget.style2 .nav-tabs li.active a,
.schedule-widget.style2 .nav-tabs li.active a:visited,
.schedule-widget.style2 .nav-tabs li a:hover,
.schedule-widget.style2 .nav-tabs li a:focus {
	color: #15BBEF;
}

.schedule-widget.style2 .nav-tabs li.active a h3,
.schedule-widget.style2 .nav-tabs li.active a:visited h3,
.schedule-widget.style2 .nav-tabs li a:hover h3,
.schedule-widget.style2 .nav-tabs li a:focus h3 {
	color: #15BBEF
}

.schedule-widget.style2 .nav-tabs li.active a span,
.schedule-widget.style2 .nav-tabs li.active a:visited span,
.schedule-widget.style2 .nav-tabs li a:hover span,
.schedule-widget.style2 .nav-tabs li a:focus span {
	color: #15BBEF
}

.wpb-js-composer .vc_tta.vc_general.eventstation-tab .vc_tta-tab>a:hover,
.wpb-js-composer .vc_tta.vc_general.eventstation-tab .vc_tta-tab>a:focus,
.wpb-js-composer .eventstation-tab .vc_tta-tab>a:hover,
.wpb-js-composer .eventstation-tab .vc_tta-tab>a:focus {
	border: 1px solid #15BBEF;
	color:#15BBEF;
}

.wpb-js-composer .eventstation-tab.vc_tta-tabs:not([class*=vc_tta-gap]):not(.vc_tta-o-no-fill).vc_tta-tabs-position-top .vc_tta-tab.vc_active>a {
	border: 1px solid #15BBEF;
	color:#15BBEF;
}

.gradient-bg,
.footer.footer-alternative,
.info-box.info-box-alternative-style .info-box-alternative-style-content,
.speakers-widget .speaker-item-body,
.pricing-table.pricing-table-classic {
	background: rgb(26,154,218);
	background: -moz-linear-gradient(top,  rgba(26,154,218,1) 0%, rgba(13,131,190,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(26,154,218,1) 0%,rgba(13,131,190,1) 100%);
	background: linear-gradient(to bottom,  rgba(26,154,218,1) 0%,rgba(13,131,190,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15BBEF', endColorstr='#0d83be',GradientType=0 );
}

.widget-title h4,
.post-related h4,
.comments-area .comment-reply-title h2,
.comments-area .comment-respond .comment-reply-title h2 {
	color: #15BBEF;
}

.widget-box .widget-title h4:before,
.post-related h4:before,
.comments-area .comment-reply-title h2:before,
.comments-area .comment-respond .comment-reply-title h2:before {
	background: #15BBEF;
}

.widget_pages ul li a:focus,
.widget_pages ul li a:hover,
.widget_categories ul li a:focus,
.widget_categories ul li a:hover,
.widget_recent_comments ul li a:focus,
.widget_recent_comments ul li a:hover,
.widget_archive ul li a:focus,
.widget_archive ul li a:hover,
.widget_recent_entries ul li a:focus,
.widget_recent_entries ul li a:hover,
.widget_nav_menu ul li a:focus,
.widget_nav_menu ul li a:hover,
.widget_rss ul li a:focus,
.widget_rss ul li a:hover,
.widget_meta ul li a:focus,
.widget_meta ul li a:hover {
	color:#15BBEF;
}

.widget_tag_cloud a:hover,
.widget_tag_cloud a:focus {
	background:#15BBEF;
	border-color:#15BBEF;
}

.eventstation-latest-posts-widget ul li .desc {
	background:#15BBEF;
}

.header-wrapper .header .dropdown-menu {
	border-top: 3px solid #15BBEF;
}

.footer.footer-alternative .footer-newsletter input[type="submit"]:hover,
.footer.footer-alternative .footer-newsletter input[type="submit"]:focus {
	color: #15BBEF;
}

.page404 .content404 h2 {
	color:#15BBEF;
}

.page404 .content404 .content404-bottom .icon404 {
	background: #15BBEF;
}

.page404 .content404 .content404-bottom button {
    border: 1px solid #15BBEF;
    background: #15BBEF;
}

.page404 .content404 .content404-bottom button:hover,
.page404 .content404 .content404-bottom button:focus {
	border-color:#15BBEF;
	color:#15BBEF;
}

.category-post-list article .post-wrapper .post-header h2,
.page-content article .page-header h2 {
	color: #15BBEF;
}

.category-post-list article .post-wrapper .post-header h2 a,
.category-post-list article .post-wrapper .post-header h2 a:visited {
	color: #15BBEF;
}

.category-post-list article .post-wrapper .post-image .category {
	background:#15BBEF;
}

.category-post-list article .post-wrapper .post-bottom .more span {
	background:#15BBEF;
}

.category-post-list article .post-wrapper .post-bottom .more i {
	background:#15BBEF;
}

.category-post-list article .post-wrapper .post-bottom .single-tag-list span {
	background: #15BBEF;
}

.category-post-list article .post-wrapper .post-bottom .single-tag-list span:hover {
	border:1px solid #15BBEF;
}

.category-post-list article .post-wrapper .post-bottom .single-tag-list span:hover a,
.category-post-list article .post-wrapper .post-bottom .single-tag-list span:hover a:visited,
.category-post-list article .post-wrapper .post-bottom .single-tag-list span:focus a,
.category-post-list article .post-wrapper .post-bottom .single-tag-list span:focus a:visited {
	color: #15BBEF;
}

.category-post-list article .post-wrapper .post-bottom .page-links span {
	background: #15BBEF;
}

.category-post-list article .post-wrapper .post-bottom .page-links span:hover {
	border:1px solid #15BBEF;
	color: #15BBEF;
}

.category-post-list article .post-wrapper .post-bottom .page-links span:hover a,
.category-post-list article .post-wrapper .post-bottom .page-links span:hover a:visited,
.category-post-list article .post-wrapper .post-bottom .page-links span:focus a,
.category-post-list article .post-wrapper .post-bottom .page-links span:focus a:visited {
	color: #15BBEF;
}

.category-post-list article .post-wrapper .post-bottom .post-navigation nav ul li a,
.category-post-list article .post-wrapper .post-bottom .post-navigation nav ul li a:visited {
	background: #15BBEF;
}

.category-post-list article .post-wrapper .post-bottom .post-navigation nav ul li a:hover,
.category-post-list article .post-wrapper .post-bottom .post-navigation nav ul li a:focus {
	color: #15BBEF;
	border:1px solid #15BBEF;
}

.category-post-list article .post-wrapper .post-bottom .post-related .item .desc {
	background:#15BBEF;
}

.post-social-share ul li a:hover, .post-social-share ul li a:focus {
	border:1px solid #15BBEF;
}

.woocommerce-info,
.woocommerce-message {
	border-top-color: #15BBEF;
}

.woocommerce-info:before,
.woocommerce-message:before {
	color: #15BBEF;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
	background-color: #15BBEF;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	background-color: #15BBEF;
}

.woocommerce ul.products li.product .price {
	color: #15BBEF;
}

.woocommerce span.onsale {
	background-color: #15BBEF;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
	color: #15BBEF;
}

@media (min-width: 768px) {
	.header-wrapper.header-alternative.fixed-header .menu-area .navbar-nav>li>a:focus,
	.header-wrapper.header-alternative.fixed-header .menu-area .navbar-nav>li>a:hover {
		color:#15BBEF;
	}

	.header-wrapper .header .menu-area .navbar-nav li .dropdown-menu li a:focus,
	.header-wrapper .header .menu-area .navbar-nav li .dropdown-menu li a:hover {
		color:#15BBEF;
	}
}
*/
