@charset "UTF-8";

/*
	Theme Name: CAPERCON Eventstation Child Theme
	Theme URI: http://capercon.ca
	Description:  CAPERCON Eventstation Child Theme
	Author: Eric Lortie
	Author URI: http://ericlortie.com/
	Template: eventstation
	Text Domain: capercon-eventstation-child
	Version: 100.0
*/

/*
Light blue: #15BBEF
Purple: #58237F
*/

@import url("../eventstation/style.css");

.counter-box .left {
  margin-left: 40px;
  margin-right: 10px;
}

.counter-box-general-content {
  background-image: url('./assets/img/bg-black-80.png');
  padding: 2rem 0;
  border-radius: 1rem;
}

.time_circles {
  margin-left: 2rem;
}

.caper-adlabel {
  font-weight: 600;
  font-size: 15px;
  color: #1A9ADA;
  position: relative;
  padding: 0px 0px;
  margin: 0px;
  text-transform: uppercase;
}

.counter-box-general-content-date-right-top,
.counter-box-general-content-date-right-right,
.counter-box-general-content-date-right-bottom,
.counter-box-general-content-date-left-left,
.counter-box-general-content-date-left-top,
.counter-box-general-content-date-left-bottom {
  width: 0px !important;
}
body.admin-bar header.header {
  margin-top: 3rem;
}
.archive-image {
  max-height: 300px;
  margin: 0px auto;
  display: block;
}

table.schedule td {
  min-width: 140px !important;
  border-left: 1px dotted darkgray;
  padding: 2px !important;
}
div.schedule_item {
  background: lightgrey;
  border: 1px solid darkgrey;
  border-radius: 5px;
  padding: .5rem;
  margin-top: 4px;
}
div.schedule_item.offset {
  margin-left: 70px;
  max-width: 140px;
}
div.schedule_item.length_30 {
  width: 50%;
}
div.schedule_item.length_60 {
  width: 100%;
}
div.schedule_item.length_90 {
  width: 150%;
}
div.schedule_item.length_120 {
  width: 200%;
}
div.schedule_item.length_150 {
  width: 250%;
}
div.schedule_item.length_180 {
  width: 300%;
}

.footer {
  background: none;
  border-top: 1px solid darkgrey;
  background: whitesmoke;
}

.header-social-link {
}
.featured-image {
  max-height: 200px;
  width: 100%;
  object-fit: cover; /*magic*/
}
.single-image {
  float: left;
  padding: 0 3rem 3rem 0;
  max-width: 300px;
}

#featured-sidebar-content {
  padding: 1rem;
  background:whitesmoke;
}

@media (max-width: 767px)
  .counter-box .counter-box-general-wrapper .counter-box-general-content-wrapper .counter-box-general-content .counter-box-general-content-top .left {
    margin-left:5px;
  }
}
